.button-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .button-container button {
    margin-right: 10px;
  }

  .rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh; /* Ajusta la altura según tus necesidades */
  }
  rating-container .p-rating .p-rating-icon {
    font-size: 4rem;
  }
  

  .button-send {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dialog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .dialog-content {
    margin-top: 20px;
  }
