<!-- <p-galleria *ngIf="rest" [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '640px'}" [numVisible]="5" [circular]="true"
        [autoPlay]="true" [transitionInterval]="2000"> 
        <ng-template pTemplate="item" let-item>
            <img [src]="rest.img01" style="width: 100%; display: block;" />
        </ng-template>
</p-galleria> -->
<div *ngIf="rest">
  <h1 class="mt-3"> {{rest.restauratName}}</h1>
  <p-card>
    <ng-template pTemplate="header">

      <img [src]="rest.image" alt="rest.restauratName" mat-card-image>
    </ng-template>
    <h2>{{rest.productName}}</h2>
    {{rest.description}}
    <div class="button-container">
      <button pButton pRipple type="button" icon="pi pi-map-marker"
        class="p-button-outlined p-button-rounded p-button-danger m-2"></button>
      <button pButton pRipple type="button" icon="pi pi-instagram"
        class="p-button-outlined p-button-rounded p-button-danger m-2"></button>
      <button pButton pRipple type="button" icon="pi pi-whatsapp"
        class="p-button-outlined p-button-rounded p-button-danger m-2"></button>

    </div>
    <h2>Quieres Votar?</h2>
    <div class="rating-container">
        <p-rating #rating (ngModel)="ratingValue" [cancel]="false" (onRate)="onRatingChange($event)"></p-rating>
    </div>
    <div class="button-send">
        <button  pButton pRipple type="button" label="Enviar Voto" (click)="sendVoto()"   class="p-button-raised p-button-danger"></button>

    </div>
  </p-card>
</div>
